<template>
  <div>
    <v-row>
      <v-col class="text-center justify-center" cols="12">
        <v-card >
          <v-img src="v.png" width="300"></v-img>
        </v-card>
        <v-card-title class="text-center"><v-spacer/><h2>Form Login</h2><v-spacer/></v-card-title>
      </v-col>
      <v-col cols="6"><v-text-field outlined label="Name" hide-details="auto" dense placeholder="firstname"></v-text-field></v-col>
      <v-col cols="6"><v-text-field outlined label="Surename" hide-details="auto" dense placeholder="lastname"></v-text-field></v-col>
      <v-col cols="6"><v-text-field outlined label="email" hide-details="auto" dense placeholder="email"></v-text-field></v-col>
      <v-col cols="6"><v-text-field outlined label="password" hide-details="auto" dense placeholder="password"></v-text-field></v-col>
      <v-col cols="6"><v-text-field outlined label="Phone" hide-details="auto" dense placeholder="phone"></v-text-field></v-col>
      <v-col cols="6"><v-text-field outlined label="Adress" hide-details="auto" dense placeholder="address"></v-text-field></v-col>
    </v-row>

  </div>
</template>

<script>
export default {
  name: 'TestLogin',

  data() {
    return {

    };
  },

  mounted() {

  },

  methods: {

  },
};
</script>

<style lang="scss" scoped>

</style>
